<.header>
  New Group  user
  <:subtitle>Use this form to manage group__user records in your database.</:subtitle>
</.header>

<.group__user_form changeset={@changeset} action={~p"/group_users"} />

<.back navigate={~p"/group_users"}>Back to group_users</.back>
