<.header>
  Group  user <%= @group__user.id %>
  <:subtitle>This is a group__user record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/group_users/#{@group__user}/edit"}>
      <.button>Edit group__user</.button>
    </.link>
  </:actions>
</.header>

<.list>
</.list>

<.back navigate={~p"/group_users"}>Back to group_users</.back>
