<.header>
  Contact <%= @contact.id %>
  <:subtitle>This is a contact record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/contacts/#{@contact}/edit"}>
      <.button>Edit contact</.button>
    </.link>
  </:actions>
</.header>

<.list>
</.list>

<.back navigate={~p"/contacts"}>Back to contacts</.back>
